body {
    background: linear-gradient(to right, #f0e6fa, #f0f0f0);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 400px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    background: #fff;
}

h2 {
    font-weight: bold;
    text-align: center;
    color: #333;
}

.btn-custom {

    color: white;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
}

.btn-custom:hover {
    background: #2575fc;
}

.message {
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.success {
    color: green;
}

.error {
    color: red;
}